---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
const posts = await getCollection("posts");

---
<Layout title="Blog" description="Saba Sen Blog">
    <div class="flex justify-center p-5">
        <span>Post: </span>
        {
            posts.map((post: any) => {
                return(
                    <div>
                        <strong>{post.data.title}</strong> 
                    </div>
                )
            }
        
            )
        
        }
    </div>
    
</Layout>

