---
import { TopRight } from "./AboutMotion/TopRight";
import { LeftBottom } from "./AboutMotion/LeftBottom";
---


<style>
 
  .type1 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #f0bcba;
  }
  .type2 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #f0bcba;
  }
  .type3 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #f75082;
  }
  .type4 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #f06292;
  }
  .type5 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #eeaea3;
  }
  .type6 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #eca16a;
  }
  .type7 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #b6a5c6;
  }
  .type8 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #f1cf74;
  }
  .type9 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #d69b8f;
  }
  .type10 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #a17bd2;
  }
  .type11 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #9066b6;
  }
  .type12 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #f24e1e;
  }
  .type13 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #f4511e;
  }
</style>
<section class="flex flex-col relative">
    <div class="absolute md:top-4 md:right-4 top-2 right-0">
      <TopRight client:load />
    </div>
    <div class="hidden md:block absolute bottom-4 left-6">
      <LeftBottom client:load />
    </div>
    <div class="p-1 flex  justify-end">
     <p class="mr-20 mt-20 ml-2">
      <span class="type1 scroll-animation swing-in-left">hello</span>
          <span class="type2 scroll-animation swing-in-left delay-150">, I am</span>
          <span class="type3 scroll-animation swing-in-left delay-300"> Saba,</span>
          <span class="type4 scroll-animation swing-in-left delay-300"> an </span>
          <span class="type5 scroll-animation swing-in-left delay-450"> industrial d</span>
          <span class="type6 scroll-animation swing-in-left delay-600">esign </span>
          <br />
          <span class="type2 scroll-animation swing-in-left delay-750">student from Turkey </span>
          <span class="type7 scroll-animation swing-in-left delay-750">with a </span>
          <span class="type8 scroll-animation swing-in-left delay-900">pas</span>
          <span class="type6 scroll-animation swing-in-left delay-900">sion</span>
          <br />
          <span class="type9 scroll-animation swing-in-left delay-900">for </span>
          <span class="type10 scroll-animation swing-in-left delay-900">creating </span>
          <span class="type11 scroll-animation swing-in-left delay-1050">innov</span>
          <span class="type7 scroll-animation swing-in-left delay-1050">ative and </span>
          <br />
          <span class="type12 scroll-animation swing-in-left delay-1050">thoughtful </span>
          <span class="type13 scroll-animation swing-in-left delay-1050">designs.</span>
     </p>
    
     
      </div>
      
    </div>
    <div class="flex flex-col md:flex-row items-center justify-end gap-64 py-10 pr-16 px-1">
      <div class="flex justify-end">
        <div class="p-2 md:w-[20rem] text-balance scroll-animation scroll-animation-default delay-1050">
          I’m Saba Şen
I’m a passionate product designer, combining aesthetics and functionality to offer unique solutions for each project. I’m ready to bring your ideas to life with my creative processes.
Explore and get inspired.
        </div>
      </div>
      <div class="p-2 scroll-animation scroll-animation-default delay-900">
        <svg width="250" height="337" viewBox="0 0 250 337" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="250" height="337" rx="24" fill="#D9D9D9"/>
          </svg>
      </div>
    </div>
  
</section>
