---
import { TopRight } from "./AboutMotion/TopRight";
import { LeftBottom } from "./AboutMotion/LeftBottom";
---


<style>
 
  .type1 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #f0bcba;
  }
  .type2 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #f0bcba;
  }
  .type3 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #f75082;
  }
  .type4 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #f06292;
  }
  .type5 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #eeaea3;
  }
  .type6 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #eca16a;
  }
  .type7 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #b6a5c6;
  }
  .type8 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #f1cf74;
  }
  .type9 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #d69b8f;
  }
  .type10 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #a17bd2;
  }
  .type11 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #9066b6;
  }
  .type12 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #f24e1e;
  }
  .type13 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.1em;
    text-align: left;
    color: #f4511e;
  }
</style>
<section class="flex flex-col relative aboutSection">
    <div class="absolute md:top-4 md:right-4 top-2 right-0">
      <TopRight client:load />
    </div>
    <div class="hidden md:block absolute bottom-6 left-6 z-50">
      <LeftBottom client:load />
    </div>
    <div class="p-1 flex  justify-end">
     <p class="mr-20 mt-20 ml-2">
      <span class="type1 scroll-animation swing-in-left">hello</span>
          <span class="type2 scroll-animation swing-in-left delay-150">, I am</span>
          <span class="type3 scroll-animation swing-in-left delay-300"> Saba,</span>
          <span class="type4 scroll-animation swing-in-left delay-300"> an </span>
          <span class="type5 scroll-animation swing-in-left delay-450"> industrial d</span>
          <span class="type6 scroll-animation swing-in-left delay-600">esign </span>
          <br />
          <span class="type2 scroll-animation swing-in-left delay-750">student from Turkey </span>
          <span class="type7 scroll-animation swing-in-left delay-750">with a </span>
          <span class="type8 scroll-animation swing-in-left delay-900">pas</span>
          <span class="type6 scroll-animation swing-in-left delay-900">sion</span>
          <br />
          <span class="type9 scroll-animation swing-in-left delay-900">for </span>
          <span class="type10 scroll-animation swing-in-left delay-900">creating </span>
          <span class="type11 scroll-animation swing-in-left delay-1050">innov</span>
          <span class="type7 scroll-animation swing-in-left delay-1050">ative and </span>
          <br />
          <span class="type12 scroll-animation swing-in-left delay-1050">thoughtful </span>
          <span class="type13 scroll-animation swing-in-left delay-1050">designs.</span>
     </p>
    
     
      </div>
      
    </div>
    <div class="flex flex-col md:flex-row items-center justify-end gap-5 md:gap-64 py-10 pr-16 px-1 scroll-animation scroll-animation-default delay-1050">
      <div class="flex flex-col">
        <div class="md:w-[20rem] text-balance mb-10">
          I’m Saba Şen
I’m a passionate product designer, combining aesthetics and functionality to offer unique solutions for each project. I’m ready to bring your ideas to life with my creative processes.
Explore and get inspired.
        </div>
        <button class="cursor-pointer rounded-lg p-2 bg-black text-white hover:bg-slate-800 transition duration-500 delay-150 mb-5 ">
          <span class="m-1">
              Download CV
          </span>
          
          <span class="m-1">
              <svg class="w-[1.25rem] inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M4 19H20V12H22V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V12H4V19ZM14 9H19L12 16L5 9H10V3H14V9Z"></path></svg>
          </span>
      </button>
      <div class="flex gap-2">
        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.8363 22.4483V19.2414C16.9478 18.2371 16.6598 17.2292 16.0345 16.4354C18.4397 16.4354 20.8449 14.8319 20.8449 12.0259C20.909 11.0237 20.6284 10.0376 20.0431 9.21985C20.2676 8.29787 20.2676 7.3358 20.0431 6.41382C20.0431 6.41382 19.2414 6.41382 17.638 7.6164C15.5214 7.21554 13.3407 7.21554 11.2242 7.6164C9.62073 6.41382 8.81901 6.41382 8.81901 6.41382C8.57849 7.3358 8.57849 8.29787 8.81901 9.21985C8.23525 10.0343 7.95192 11.026 8.01729 12.0259C8.01729 14.8319 10.4225 16.4354 12.8276 16.4354C12.515 16.8282 12.2825 17.2772 12.1462 17.7582C12.0099 18.2392 11.9698 18.7443 12.0259 19.2414V22.4483" stroke="#4B5563" stroke-width="1.60345" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12.0259 19.2414C8.41011 20.8448 8.01727 17.6379 6.41382 17.6379" stroke="#4B5563" stroke-width="1.60345" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>   
          <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.5171 8.01727C22.5171 8.01727 21.9559 9.70089 20.9137 10.7431C22.1965 18.7604 13.3775 24.613 6.48267 20.0431C8.24646 20.1233 10.0103 19.5621 11.293 18.4397C7.28439 17.2371 5.28008 12.5069 7.28439 8.81899C9.04818 10.9035 11.774 12.1061 14.4999 12.0259C13.7784 8.65865 17.7068 6.73451 20.112 8.97934C20.9939 8.97934 22.5171 8.01727 22.5171 8.01727Z" stroke="#4B5563" stroke-width="1.60345" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          <img src="img/figma.png" width="29" height="29" />                 
      </div>
      </div>
      <div class="p-2 scroll-animation scroll-animation-default delay-900">
        <svg width="250" height="337" viewBox="0 0 250 337" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="250" height="337" rx="24" fill="#D9D9D9"/>
          </svg>
      </div>
    </div>
  
</section>
