---
import { ExpBottom } from "./AboutMotion/ExpBottom";
import { SkillsBottom } from "./AboutMotion/SkillsBottom";
---

<section class="flex flex-col relative h-screen">
    <div class="ml-72">
        <h1 class="font-bold text-3xl italic scroll-animation scroll-animation-default delay-300">Experience</h1>
    </div>
    
    <div class="mt-3">
        <ExpBottom client:load/>
    </div>
    <div class="flex justify-end mr-52 -mt-12">
        <h1 class="font-bold text-3xl italic scroll-animation scroll-animation-default delay-300">Awards & Exhibitions</h1>
    </div>
    
    <div class="absolute bottom-3 left-40">
        <SkillsBottom client:load/>
    </div>
</section>