---
import Navbar from "./Navbar.astro";
---

<section id="hero" class="hero relative">
  <Navbar />
  <div class="grid grid-cols-1 md:grid-cols-2 h-[70vh]  p-2 md:p-0">
      <div class="flex scroll-animation scroll-animation-default items-center justify-center">
          <img src="/img/hero1.png" class="w-100 p-1" />
      </div>
      <div class="flex scroll-animation scroll-animation-default delay-300 items-center justify-center -mt-24 md:mt-0">
          <img src="/img/hero2.png" alt="mockup">
      </div>                
  </div>
</section>